body {
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-direction: column;
    background-color: #6930C3;
    display: flex;
}

.configuration {
    min-height: 150px;
    background-color: #72EFDD;
}

#invader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixelLine {
    display: flex;
}

.pixel {
    background-color: #edf6f9;
    width:30px;
    height:30px;
    border: 1px solid #2b2d42;
}


.configuration {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gridSizeInput {
    padding: 1.2em;
    border: 0;
    width: 110px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pixelSizeInput {
    padding: 1.2em;
    border: 0;
    width: 110px;
    border-left: 1px solid #edf6f9;
}

.validateFormBtn {
    padding: 1.2em;
    background-color: #7400B8;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

#colorpicker {
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    right: 0;
    bottom: 0;
    display: flex;
    min-width: 200px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.colorpicker_circle {
    width: 30px;
    height: 30px;
    border: 1px solid #2b2d42;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.colorpicker_circle:hover {
    transform: scale(1.1);
}
.colorpicker_circle.color--selected {
    transform: scale(1.3);
    margin: 0 4px;
}

.color--white {
    background-color: #edf6f9;
}

.color--black {
    background-color: #2b2d42;
}

.color--red {
    background-color: #6930C3;
}

.color--green {
    background-color: #80FFDB;
}

.color--blue {
    background-color: #48BFE3;
}

.color--fof {
    background-color: #7400B8;
}